body{
  margin-left: 20px;
}
.texto{
  color: #0f0;
  font-size: 1em;
}
.caixa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caixa a{
  text-decoration: none;
  color: #f00;
}
.caixa a:hover{
  background-color: #f00;
  color: #fff;
}
